.about-area {
    .about-left-area {
        .about-heading {
            h2 {
                font-weight: 400;
                font-size: 38px;
                line-height: 44px;
                color: $white;
            }
        }

        .about-quote-desc {

            .quote-start,
            .quote-end {
                display: inline;

                img {
                    display: inline;
                }
            }

            p {
                display: inline;
            }
        }

        .authors {
            h5 {
                font-family: $dancingScript;
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
            }

            span {
                &:first-child {
                    color: $green;
                }

                &:last-child {
                    color: #FAFF00;
                }
            }
        }

    }

    .underline-text {
        p {
            text-decoration: underline;
        }
    }

    .border-left-content {
        ul {
            position: relative;

            &::before {
                position: absolute;
                top: 5px;
                left: 0;
                height: 80%;
                width: 2px;
                background: linear-gradient(to right, #33FF00, #FAFF00);
                content: "";
            }

            li {
                color: $white;
                padding-left: 10px;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
            }

        }
    }
}



@media screen and (max-width:575px) {
    .about-area.bg-black-four.pt-70.pb-90 {
        margin-top: -50px;
    }

    .about-area .about-left-area .about-heading h2 {
        font-size: 24px;
        line-height: 28px;

    }

    h5 {
        font-size: 14px;
        line-height: 26px;
    }

    .img-area.mt-100.mt-xs-0 {
        margin-left: 25px;
    }

    .about-area .about-left-area .about-quote-desc p {

        line-height: 26px;
    }

    .about-area .about-left-area .authors h5 {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }
}