.add-sales-area {
    .blog-card {
        border-radius: 15px;
    }

    .add-sales-img-wrapper {
        border-radius: 15px;
    }
}

@media screen and (max-width:991px) {
    .add-sales-area .blog-card {
        border-radius: 15px;
        margin-bottom: 24px;

        p {
            font-size: 15px;
            line-height: 26px;
        }

    }
}