.add-sales-area {
    .blog-card {
        border-radius: 15px;
    }

    .add-sales-blog-card-row {
        .col-lg-4 {

            &:nth-child(1) {
                .blog-card {
                    filter: drop-shadow(8px 0px 10px #292421);
                }
            }
            &:nth-child(2) {
                .blog-card {
                    filter: drop-shadow(8px 0px 10px #222721) opacity(0.95);
                }
            }
            &:nth-child(3) {
                .blog-card {
                    filter: drop-shadow(8px 0px 10px hsla(108, 100%, 50%, 0.144)) ;
                }
            }
        }

        .add-sales-img-wrapper {
            border-radius: 15px;
        }
    }
}