.analysis-accordion {
    .accordion-container {
        position: relative;

        .left-stroke-img {
            position: absolute;
            top: 0;
            left: -100px;
        }

        .right-stroke-img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .section-title {
        h2 {
            font-weight: 400;
            font-size: 38px;
            line-height: 45px;
        }
    }

    // accordion
    .accordion {
        border-radius: 30px;
        border-bottom-left-radius: 0px;



        .accordion-item {
            border: none;
            background: none;
            position: relative;
            z-index: 1;

            .accordion-header {


                .accordion-button {
                    border-bottom: none;
                    font-weight: 500;
                    font-family: $roboto;

                    color: $white;
                    background: transparent;
                    text-transform: capitalize;
                    width: 53%;

                    &::after {
                        display: none;
                    }

                    &:focus {
                        border-color: none;
                        box-shadow: none;
                    }

                    &:not(.collapsed) {
                        color: $black ;
                        background: linear-gradient(to right, #33FF00, #FAFF00);
                        box-shadow: none;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                        font-size: 24px;
                        line-height: 28px;
                    }

                    &.collapsed {
                        color: $white ;
                        background: transparent;
                        font-size: 20px;
                        line-height: 30px;

                    }

                }
            }

            .accordion-body {
                padding: 0px 12px;

                .accordion-left-bg {
                    background-size: cover;
                    width: 53%;
                }

                .text-content-wrapper {
                    padding: 25px 30px;

                    .text-content {
                        p {
                            font-family: $raleway;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 24px;
                        }
                    }
                }

                .list-content {
                    .list-items {
                        .list-item {
                            display: flex;
                            align-items: center;

                            .icon {
                                margin-right: 10px;
                                margin-top: -15px;
                            }

                            .text {
                                p {
                                    font-size: 16px;
                                    line-height: 26px;
                                    font-family: $raleway;
                                    font-weight: 500;
                                }
                            }
                        }


                        li {
                            font-size: 15px;
                            line-height: 26px;
                            font-weight: 500;
                            font-family: $raleway;
                            color: $white;

                        }
                    }
                }
            }
        }

        .accordion-img {
            padding-left: 80px;

            h3 {
                font-family: $roboto;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: $white;
                text-transform: capitalize;
                margin-top: 15px;
            }
        }
    }

    .accordion-area {
        position: relative;

        .left-stroke-img {
            position: absolute;
            top: 42px;
            left: -386px;


            img {
                width: 382px;
            }

        }

        .right-sroke-img {
            position: absolute;
            top: 77px;
            right: -500px;

        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            height: 100%;
            width: 47%;
            background: #222422;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }
}

@media screen and (max-width:991px) {
    .analysis-accordion .accordion-area::after {
        display: none;
    }

    .accordion-right-img-area {
        background: url('./../../images/accordion/accordion-bg.png');
        padding-bottom: 20px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .analysis-accordion .accordion .accordion-img {
        padding-left: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:991px) {
    .analysis-accordion .accordion {
        border-radius: 30px;

        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .analysis-accordion .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
        width: 100%;
    }

    .analysis-accordion .accordion .accordion-item .accordion-body .accordion-left-bg {
        width: 100%;
    }

    .analysis-accordion .accordion .accordion-item .accordion-body {
        padding: 0px 10px;
    }

    .analysis-accordion .accordion .accordion-item .accordion-body .text-content-wrapper .text-content p {
        line-height: 26px;
    }

    .analysis-accordion .accordion .accordion-img {
        padding-left: 0px;
        margin: 12px 25px;
    }

    .analysis-accordion .accordion .accordion-img h3 {
        font-family: $raleway;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }

    .analysis-accordion .accordion .accordion-item .accordion-header .accordion-button {
        width: 100%;
        font-family: $raleway;
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (max-width:575px) {
    .analysis-accordion .section-title h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    .analysis-accordion .accordion {
        border-radius: 30px;

        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .analysis-accordion .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
        width: 100%;
    }

    .analysis-accordion .accordion .accordion-item .accordion-body .accordion-left-bg {
        width: 100%;
    }

    .analysis-accordion .accordion .accordion-item .accordion-body {
        padding: 0px 0px;
    }

    .analysis-accordion .accordion .accordion-item .accordion-body .text-content-wrapper .text-content p {
        line-height: 26px;
    }

    .analysis-accordion .accordion .accordion-img {
        padding-left: 0px;
        margin: 12px 25px;
    }

    .analysis-accordion .accordion .accordion-img h3 {
        font-family: $raleway;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }

    .analysis-accordion .accordion .accordion-item .accordion-header .accordion-button {
        width: 100%;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 21px;
        padding: 25px 23px;
        font-weight: 700;
    }
}