.analysis-accordion {

    // accordion
    .accordion {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        .accordion-button {
            border-bottom: none;

            &::after {
                display: none;
            }

            &:focus {
                border-color: none;
                box-shadow: none;
            }

            &:not(.collapsed) {
                color: $black !important;
                background: linear-gradient(to right, #33FF00, #FAFF00) !important;
                box-shadow: none;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
        }

        .accordion-item {
            border: none;
            background: none;

            .accordion-header {
                button {
                    font-weight: 500;
                    font-family: $raleway;
                    font-size: 24px;
                    line-height: 28px;
                    color: $white;
                    text-transform: capitalize;
                    background: transparent;
                }
            }
            .accordion-body{
                background:linear-gradient(to right,#071f01,#303030);
                padding-left: 40px;
                padding-top: 26px;
                padding-right: 60px;
                padding-bottom: 40px;
               .list-content{
                .list-items{
                    li{
                        font-size: 16px;
                        line-height: 20px;
                        font-family: $raleway;
                        color: $white;
                        margin-bottom: 10px;
                        position: relative;
                        padding-left: 30px;
                        &::before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            content:'\f560';
                            font-family: 'Font Awesome 6 Free';
                            font-weight: 800;
                            color: $green;
                        }
                    }
                }
               }
            }
        }
    }

    .accordion-right-img {
        text-align: center;

        h4 {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            color: $white;
            text-transform: capitalize;
        }
    }
}