.analysis-accordion {
.section-title{
    h2{
        font-weight: 400;
        font-size: 38px;
        line-height: 45px;
    }
}
    // accordion
    .accordion {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        .accordion-button {
            border-bottom: none;

            &::after {
                display: none;
            }

            &:focus {
                border-color: none;
                box-shadow: none;
            }

            &:not(.collapsed) {
                color: $black !important;
                background: linear-gradient(to right, #33FF00, #FAFF00) !important;
                box-shadow: none;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
        }

        .accordion-item {
            border: none;
            background: none;

            .accordion-header {
                button {
                    font-weight: 500;
                    font-family: $raleway;
                    font-size: 24px;
                    line-height: 28px;
                    color: $white;
                    text-transform: capitalize;
                    background: transparent;
                }
            }

            .accordion-body {
                background: linear-gradient(to right, #071f01, #303030);
                padding-left: 40px;
                padding-top: 26px;
                padding-right: 60px;
                padding-bottom: 40px;

                .list-content {
                    .list-items {
                        li {
                            font-size: 16px;
                            line-height: 20px;
                            font-family: $raleway;
                            color: $white;
                            margin-bottom: 10px;
                            position: relative;
                         

                           
                        }
                    }
                }
            }
        }
    }

    .accordion-right-img {
        text-align: center;

        h4 {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            color: $white;
            text-transform: capitalize;
        }
    }
}

@media screen and (max-width:575px) {
    .analysis-accordion .accordion .accordion-item .accordion-header button {
        font-size: 18px;
        line-height: 22px;
    }
        .analysis-accordion .accordion .accordion-item .accordion-body {
       
            padding-left: 25px;
            padding-top: 26px;
            padding-right: 20px;
   
        }
}