.bannar-area {
    padding-top: 212px;
    padding-bottom: 180px;

    .bannar-container {
        position: relative;

        .left-absolute-img {
            position: absolute;
            top: 0px;
            left: -290px;
        }

        .right-absolute-img {
            position: absolute;
            top: 0px;
            right: -400px;
        }
    }

    .bannar-heading {
        h1 {
            font-family: $roboto;
            font-weight: 400;
            font-size: 67px;
            color: $white;
        }
    }

    .bannar-desc {
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            font-family: $raleway;
        }
    }

    .btn-area {
        .theme-btn {
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
            font-family: $raleway;
            color: $black;
        }
    }

    .right-image-area {
        position: relative;

        .bannar-img {
            position: absolute;
            top: -345px;
            left: -270px;
        }
    }

}

@media screen and (min-width:992px) and (max-width:1199px) {
    .bannar-area .bannar-heading h1 {
        font-size: 36px;
        line-height: 53px;
    }

    .bannar-area {
        padding-top: 180px;
        padding-bottom: 100px;
    }

    .bannar-area .right-image-area .bannar-img {
        top: -270px;
        left: -240px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .bannar-area .bannar-heading h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .bannar-area {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    .bannar-area .bannar-desc p {
        font-size: 16px;
        line-height: 22px;

    }

    .bannar-area .right-image-area .bannar-img {
        position: unset;
        margin-top: 30px;
        margin-left: -200px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .bannar-area .bannar-heading h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .bannar-area {
        padding-top: 82px;
        padding-bottom: 80px;
    }

    .bannar-area .bannar-desc p {
        font-size: 16px;
        line-height: 22px;

    }

    .bannar-area .right-image-area .bannar-img {
        position: unset;
        margin-top: 30px;
        margin-left: -200px;
    }
}

@media screen and (min-width:481px) and (max-width:575px) {
    .bannar-area .bannar-heading h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .bannar-area {
        padding-top: 82px;
        padding-bottom: 80px;
    }

    .bannar-area .bannar-desc p {
        font-size: 16px;
        line-height: 22px;

    }

    .bannar-area .right-image-area .bannar-img {
        position: unset;
        margin-top: 30px;
        margin-left: -200px;
    }
}

@media screen and (max-width:480px) {
    .bannar-area .bannar-heading h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .bannar-area {
        padding-top: 82px;
        padding-bottom: 80px;
    }

    .bannar-area .bannar-desc p {
        font-size: 15px;
        line-height: 18px;

    }

    .bannar-area .right-image-area .bannar-img {
        position: unset;
        margin-top: 30px;
        margin-left: -90px;
    }
}