.testimonial-area {
    .testimonial-slider {
        .slide{
            padding: 70px;
        }
        .left-author-area {
            .author {
                position: relative;

                .ellipse-one {
                    position: absolute;
                    top: -34px;
                    left: -42px;
                }

                .ellipse-two {
                    position: absolute;
                    right: 0px;
                    bottom: -36px;
                }

                .author-img {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        .testimonial-content {
            padding-left: 60px;
            .testiomonial-author {
                h4 {
                    font-size: 16px;
                    line-height: 19px;

                }

                ul {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;

                    li {
                        color: $gray;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .testimonial-slider-wrapper{
        position: relative;
        .testimonial-arrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            width: 100%;
            button{
                height: 60px;
                width: 60px;
                border-radius: 100%;
                background: transparent;
                color: #fff;
                font-size: 18px;
                border-left: 1px solid #e3fe01;
                border-top: 1px solid #e3fe01;
                border-right: 1px solid $green;
                border-bottom: 1px solid $green;
                &:hover{
                    background: linear-gradient($green,#e3fe01);
                    color: $black;
                }
            }
        }
    }
}