// fonts

$roboto: 'Roboto',sans-serif;
$raleway: 'Raleway', sans-serif;
$dancingScript:'Dancing Script',cursive;

// colors
$green: #4dff21;
$black: #000000;
$black-light:#222222;
$black-two:#303030;
$black-three:#222422;
$black-four:#1a1a1a;
$black-five:#303030;
$white: #FFFFFF;
$gray:#888888;